{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/hooks/(.*)$",
    "^@/types/(.*)$",
    "^@/services/(.*)$",
    "^@/utils/(.*)$",
    "^@/api/(.*)$",
    "^@/store/(.*)$",
    "^../(.*)$",
    "^./(.*)$",
    ".*\\.(css|scss|sass)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
