.button {
  padding: 0.7rem 1rem;
  background: #0070f3;
  color: #fff;
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s;

  &:hover {
    background: #005bd1;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
